*{
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
.parent{
    width: 100%;
    height: 100%;
    border-bottom:2px dashed rgb(248, 0, 83);
}
h1{
    font-size: 1.6rem;
    color: rgb(14, 7, 24);
    padding-top: 20px;
    text-align: center;
    background-color: #eee;
}
#result{
    text-align: center;
    width: 200px;
    height: 150px;
    border: 1.5px solid rgb(25, 214, 88);
    margin-top: 40px;
    border-radius: 5px;
    padding-top: 60px;
    font-size: 1.3rem;
    color: rgb(4, 129, 0);
}
.pA{
    width: 100%;
    height: 50vh;
    background-color: #eeeeee;
    padding: 50px;
}
.iA{
    margin: 10px 0px;
}
#guess-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.507)), url("bg3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#game-area{
    border-radius: 500px;
    width: 50%;
    height: 50%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.733) ,rgba(0, 0, 0, 0.712));
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
#btn-g{
    font-size: 1.4rem;
    color:white;
    background-color: rgb(54, 190, 54);
    padding: 9px;
    border-radius: 6px;
    width: 120px;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 25px;
    transition: .4s;
}
#hg{
    font-size: 2.3rem;
    position: relative;
    top: -50px;
    color: rgb(20, 21, 39);
}
.game-animation{
    animation: animate .7s;
}
@keyframes animate{
    0%{
        position: relative;
        top: 0%;
        left: -100%;
        margin: 11px;
    }
    10%{
        position: relative;
        top: 0%;
        left: -90%;
        margin: 10px;
    }
    20%{
        position: relative;
        top: 0%;
        left: -80%;
        margin: 9px;
    }30%{
        position: relative;
        top: 0%;
        left: -70%;
        margin: 8px;
    }40%{
        position: relative;
        top: 0%;
        left: -60%;
        margin: 7px;
    }50%{
        position: relative;
        top: 0%;
        left: -50%;
        margin: 6px;
    }60%{
        position: relative;
        top: 0%;
        left: -40%;
        margin: 5px;
    }70%{
        position: relative;
        top: 0%;
        left: -30%;
        margin: 4px;
    }80%{
        position: relative;
        top: 0%;
        left: -20%;
        margin: 3px;
    }90%{
        position: relative;
        top: 0%;
        left: -10%;
        margin: 2px;
    }100%{
        position: relative;
        top: 0%;
        left: 0%;
        margin: 1px;
    }
}
.addg{
    font-size: 1.4rem;
    border-radius: 4px;
    border: none;
    outline: none;
    text-align: center;
    margin: 5px;
    width: 45px;
}
#pg{
    position: relative;
    top: -160px;
    left: -50px;
    color: white;
    font-size: 1.4rem;
}
